#dice-button{
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
#roll-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}

#sum-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}

div {
    background-color: black;
    height: 80px;
    width: 100px;
    display:inline-block;
    margin: 10px;
    color:white;
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}
