#dice-button{
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
#roll-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}

div {
    background-color: black;
    height: 200px;
    width: 200px;
    display:inline-block;
    margin: 10px;
}

p {
    display: inline-block;
    padding-left: 80px;
    padding-top: 15px;
    color:white;
    font-size: 55px;
}